.login-container {
    background-image: linear-gradient(to bottom, #f6f6f6, #e1e1e1);
    height: 100%;
}

.recording-container {
    padding-top: 70px;
}

.footer {
    height:10%
}

.footer-left {
    display: inline;
    float: left;
}

.footer-right {
    display: inline;
    float: right;
}

span.navbar-brand a {
    color: white;
}

hr {
  border-top: 1px solid #ccc;
}

.panel-top {
    color: #e67d39;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.panel-info {
    border:0px;
}

.panel-top h1 {
    font-size: 22px;
    font-weight: bold;
}

.panel-body {
    padding: 30px 25px 20px 25px;
    border-radius: 4px;
    background-image: linear-gradient(to top, rgba(229, 229, 229, 0.9), rgba(255, 255, 255, 0.9));
    box-shadow: 0 2px 5px 0 rgba(110, 110, 110, 0.5);
    height: auto;
}

.panel-inside {
    max-width: 360px;
    display: block;
    margin: 0 auto;
}

.button-div {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
}

.button-div > button {
    color: #ffffff;
    background-color: #e67d39;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 100px;
    border: 0px none;
}

.button-div>button:hover {
    background-color: white;
    color: #e67d39;
}

#xivo-description {
    margin: 40px 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    color: #959595;
    text-align: center;
}

.xivo-logo {
    display: block;
    width: 352px;
    margin: 0 auto;
    padding-top: 60px;
}

.input-zone {
    display: block;
    width: 300px;
}

.input-zone > input {
    margin-bottom: 15px;
    display           : block;
    width             : 100%;
    height            : 40px;
    padding           : 6px 12px;
    font-size         : 14px;
    line-height       : 1.42857143;
    color             : #555555;
    background-color  : #ffffff;
    background-image  : none;
    border            : 1px solid #959595;
    border-radius     : 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow        : inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
}

.copyright {
    color: #555555;
    font-size: 12px;
    float: right;
}

.edited-nav {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 7px;
    position: relative;
    top: 5px;
}

.username-badge {
    margin-right:30px;
    padding: 5px 25px;
}