<div class="footer-right">
    <a href="http://Avencall.com/"><img src="@routes.Assets.at("images/xivo_logo.png")" height="15" width="33"> by Avencall </a>
    @(" - %s " format (server.info.BuildInfo.version))&nbsp;
    <p></p>
</div>