@import models.authentication.RightsHelper
@(rightsHelper: RightsHelper)(implicit lang: Lang, request: Request[_], i18nMessages: Messages)
<!DOCTYPE html>
<html ng-app="Disk">
    <head>
        @head(i18nMessages("DiskManagement"))
        <script src="@routes.Assets.at("javascripts/disk.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/services/diskSpace.service.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/d3.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular-charts.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/disk.css")"/>
    </head>
    <body ng-controller='DiskController' Lang="@{lang.language}">
        @navigation_bar(rightsHelper)
        <div class="container-fluid recording-container">
            <div ng-repeat="p in partitions">
                <div ac-chart="'pie'" ac-data="p.chartData" ac-config="p.chartConfig" class="chart"></div>
            </div>
        </div>
        <div class="footer">
            @avencall_logo()
        </div>
    </body>
</html>