@import models.authentication.{AdminRight, RightsHelper}
@(rightsHelper: RightsHelper)(implicit lang: Lang, request: Request[_], i18nMessages: Messages)

<html ng-app="recording-server">
    <head>
        @head(i18nMessages("RecordingList"))
        <script src="@routes.Assets.at("javascripts/disk.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/services/diskSpace.service.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular-charts.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/records.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")"/>
    </head>
    <body ng-controller='PageController' Lang="@{lang.language}">
        @navigation_bar(rightsHelper)
        <div class="container-fluid recording-container">
            <form ng-submit="find(1)" class="form-horizontal search-group">
                <div class="row">
                    <h4 class="col-sm-12">@i18nMessages("StandardSearch")</h4>
                    <div class="col-sm-12">
                        <span>
                            <input type="radio" ng-model="request.direction" value="all" id="radio_all"/>
                            <label for="radio_all">@i18nMessages("All")</label>
                        </span>
                        <span>
                            <input type="radio" ng-model="request.direction" value="incoming" id="radio_incoming"/>
                            <label for="radio_incoming">@i18nMessages("Incoming")</label>
                        </span>
                        <span>
                            <input type="radio" ng-model="request.direction" value="outgoing" id="radio_outgoing"/>
                            <label for="radio_outgoing">@i18nMessages("Outgoing")</label>
                        </span>
                    </div>
                    <div class=" col-sm-12 top-buffer">
                        <span class="col-sm-1">
                            <label>@i18nMessages("Caller")</label>
                            <span class='glyphicon glyphicon-info-sign info-tooltip' title="@i18nMessages("SearchNumber")"></span> 
                        </span>
                        <span class="col-sm-2">
                            <input type="text" class="form-control" ng-model="request.caller" empty-to-null/>
                        </span>
                        <span class="col-sm-1">
                            <label>@i18nMessages("Called")</label>
                            <span class='glyphicon glyphicon-info-sign info-tooltip' title="@i18nMessages("SearchNumber")"></span>
                        </span>
                        <span class="col-sm-2">
                            <input type="text" class="form-control" ng-model="request.callee" empty-to-null/>
                        </span>
                        <span class="col-sm-1">
                            <label>@i18nMessages("Agent")</label>
                            <span class='glyphicon glyphicon-info-sign info-tooltip' title="@i18nMessages("SearchByAgentNameOrNumber")"></span>
                        </span>
                        <span class="col-sm-2">
                            <input type="text" class="form-control" ng-model="request.agent" empty-to-null/>
                        </span>
                    </div>

                    <div class="col-sm-12 top-buffer">
                        <span class="col-sm-1">
                            <label>@i18nMessages("Queue")</label>
                            <span class='glyphicon glyphicon-info-sign info-tooltip' title="@i18nMessages("SearchByQueueNameOrNumber")"></span>
                        </span>
                        <span class="col-sm-2">
                            <input type="text" class="form-control" ng-model="request.queue" empty-to-null/>
                        </span>
                        <span class="col-sm-1">
                            <label>@i18nMessages("between")</label>
                        </span>
                        <span class="col-sm-2">
                            <input id="start" type="text" class="date form-control" data-date-format="DD-MM-YYYY HH:mm"/>
                        </span>
                        <span class="col-sm-1">
                            <label>@i18nMessages("and")</label>
                        </span>
                        <span class="col-sm-2">
                            <input id="end" type="text" class="date form-control" data-date-format="DD-MM-YYYY HH:mm"/>
                        </span>
                    </div>

                    <div class="extend col-sm-7 top-buffer">
                        <a href="">
                            <span ng-class="attachedDataSearchClass()" ng-click="toggleAttachedDataSearch()">&nbsp;@i18nMessages("SearchInAttachedData")</span>
                        </a>
                    </div>
                    <div class="col-sm-3 top-buffer">
                        <button type="submit" class="btn btn-success">@i18nMessages("Search")</button>
                    </div>
                    <div class="col-sm-12 top-buffer" ng-show="search_attached_data">
                        <span class="col-sm-1">
                            <label>@i18nMessages("Key")</label>
                        </span>
                        <span class="col-sm-2">
                            <input type="text" class="form-control" ng-model="request.key" empty-to-null/>
                        </span>
                        <span class="col-sm-1">
                            <label>@i18nMessages("Value")</label>
                            <span class='glyphicon glyphicon-info-sign info-tooltip' title="@i18nMessages("SearchForOnlyOnePart")"></span>
                        </span>
                        <span class="col-sm-2">
                            <input type="text" class="form-control" ng-model="request.value" ng-disabled="!request.key" empty-to-null/>
                        </span>
                    </div>
                </div>

                <p class="row sep"></p>
                <div class="row">
                    <h4 class="col-sm-12">@i18nMessages("SearchByCallId")</h4>
                    <div class="col-sm-12">
                        <span class="col-sm-1">
                            <label>@i18nMessages("CallId")</label>
                        </span>
                        <span class="col-sm-2">
                            <input type="text" class="form-control" ng-model="callid"/>
                        </span>
                        <span class="col-sm-offset-4 col-sm-2">
                            <button type="button" class="btn btn-success" ng-click="searchByCallid()">@i18nMessages("Search")</button>
                        </span>
                    </div>
                </div>
            </form>
            <div id="loading" class="well">
                <h4><strong class="center">Chargement...</strong></h4>
            </div>
            <table class="table table-hover table-condensed table-striped">
                <thead>
                    <tr>
                        <th>@i18nMessages("CallingNumber")</th>
                        <th>@i18nMessages("CalledNumber")</th>
                        <th>@i18nMessages("Agent")</th>
                        <th>@i18nMessages("Queue")</th>
                        <th>@i18nMessages("Start")</th>
                        <th>@i18nMessages("Data")</th>
                        <th class="text-right">
                            @if(request.session.get("username").isDefined && rightsHelper.getUserRights(request.session.get("username").get) == Some(AdminRight())) {
                                <h3>
                                    <a ng-click="getAccessLog()" href=""  title="@i18nMessages("ConsultationDiary")">
                                        <i class="glyphicon glyphicon-file"></i>
                                    </a>
                                </h3>
                            }
                        </th>
                    </tr>
                </thead>
                <tbody id="records">
                   <tr ng-repeat="record in records">
                       <td>{{record.src_num}}</td>
                       <td>{{record.dst_num}}</td>
                       <td>
                            <span ng-repeat="agent in record.agent track by $index">{{agent}}{{$last ? '' : ', '}}</span>
                       </td>
                       <td>
                            <span ng-repeat="queue in record.queue track by $index">{{queue}}{{$last ? '' : ', '}}</span>
                       </td>
                       <td>{{record.start}}</td>
                       <td>
                           <p ng-repeat="(key, value) in record.attached_data">{{key}} : {{value}}</p>
                       </td>
                       <td class="text-right">
                           <audio controls controlsList="nodownload" oncontextmenu="return false;" listen-play-event>
                               <source ng-src="records/{{record.id}}/audio/result">
                               @i18nMessages("YourBrowserCantSupportElement") <code>audio</code>.
                           </audio>
                           <a ng-href="records/{{record.id}}/audio/download" target="_blank" download title="@i18nMessages("DownloadFile")" class="download">
                               <i class="glyphicon glyphicon-save"></i>
                           </a>
                       </td>
                   </tr>
                </tbody>
            </table>
            <div class="footer">
                <div class="footer-left">
                    <ul class="pagination" id="pager" style="float:left">
                        <li ng-show="currentPage > 1"><a href="#" ng-click="fetchFunction(currentPage - 1)"> @i18nMessages("Previous")</a></li>
                        <li ng-show="hasNext">
                            <a href="#" ng-click="fetchFunction(currentPage + 1)"> @i18nMessages("Next")</a>
                        </li>
                    </ul>
                </div>
                @avencall_logo()
            </div>
        </div>
    </body>
</html>
