@import models.authentication.{AdminRight, RightsHelper}
@(rightsHelper: RightsHelper)(implicit request: Request[_], i18nMessages: Messages)

@navigation_element(url: String, label: String) = {
    <span class="navbar-brand">
        @if(request.path.equals(url)) {
        @label
        } else {
        <a href="@url" id="recordingTitle">@label</a>
        }
    </span>
}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    @navigation_element("listing", i18nMessages("RecordingList"))
    @if(request.session.get("username").isDefined && rightsHelper.getUserRights(request.session.get("username").get) == Some(AdminRight())) {
        @navigation_element("disks", i18nMessages("DiskManagement"))
        @navigation_element("recording_control", i18nMessages("RecordingControl"))
    }
    <div class="navbar-collapse collapse">
        <p></p>
        <div class="nav navbar-nav navbar-right">
            <p class="navbar-text edited-nav"><span class="badge username-badge"> @request.session.get("username")</span><a class="text-right" href="logout"><span class="glyphicon glyphicon-off"></span></a></p>
            <p class="navbar-text"></p>
        </div>
    </div>
</div>