@import models.authentication.RightsHelper
@(rightsHelper: RightsHelper)(implicit request: Request[_], i18nMessages: Messages)
<!DOCTYPE html>
<html ng-app="recording-exclusion">
<head lang="fr">
    @head(i18nMessages("RecordingControl"))
    <script src="@routes.Assets.at("javascripts/recording_control.js")" type="text/javascript"></script>
</head>
<body>
@navigation_bar(rightsHelper)
<div class="container-fluid recording-container">
    <div ng-controller="SdaController">
        <div class="has-error" ng-if="error != null">
            <label class="control-label">{{error}}</label>
        </div>
        <div class="has-error">
            <label class="control-label" ng-show="incallNumbers.newSda.$error.pattern">@i18nMessages("InvalidValuePleaseEnterNumber")</label>
        </div>
        <form name="incallNumbers">
            <h2>@i18nMessages("NumbersNotToRegister")</h2>
            <table class="table table-hover table-condensed table-striped">
                <thead>
                    <th class="col-md-3">@i18nMessages("CallRecipient")</th>
                    <th class="col-md-4">@i18nMessages("AddNumber"):
                        <input name="newSda" required ng-pattern="/^[0-9]*$/" ng-model="newSda"/>
                        <button class="btn btn-success" title="@i18nMessages("Add")" ng-click="createSda()" type="button" ng-disabled="incallNumbers.$invalid">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="sda in sdas">
                        <td>{{sda}}</td>
                        <td>
                            <button class="btn btn-danger" title="@i18nMessages("Delete")" ng-click="deleteSda(sda)" type="button">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                </tbody>
            </table>
        </form>
    </div>
    <div ng-controller="NumberController">
        <div class="has-error" ng-if="error != null">
            <label class="control-label">{{error}}</label>
        </div>
        <div class="has-error">
            <label class="control-label" ng-show="outcallNumbers.newNumber.$error.pattern">@i18nMessages("InvalidValuePleaseEnterNumber")</label>
        </div>
        <form name="outcallNumbers">
            <table class="table table-hover table-condensed table-striped">
                <thead>
                    <th class="col-md-3">@i18nMessages("SenderOrRecipientOfOutgoingCall")</th>
                    <th class="col-md-4">@i18nMessages("AddNumber") :
                        <input name="newNumber" required ng-pattern="/^[0-9]*$/" ng-model="newNumber"/>
                        <button class="btn btn-success" title="@i18nMessages("Add")" ng-click="createNumber()" type="button" ng-disabled="outcallNumbers.$invalid">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="num in numbers">
                        <td>{{num}}</td>
                        <td>
                            <button class="btn btn-danger" title="@i18nMessages("Delete")" ng-click="deleteNumber(num)" type="button">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                </tbody>
            </table>
        </form>
    </div>
    <div class="footer">
        @avencall_logo()
    </div>
</div>
</body>
</html>
